<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update" method="POST" onsubmit="return checkValidate()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="email">Ma sinh vien:</label>
            <input name="ma" type="text" class="form-control" placeholder="Nhap ma sinh vien" value="<%=item.id%>" id="inputma">
            <label class="noti" id="ma"></label>
        </div>
        <div class="form-group">
            <label for="pwd">Ngay sinh</label>
            <input name="ngaysinh" type="date" class="form-control" placeholder="Nhap ngay sinh" id="inputngaysinh">
            <label class="noti" id="ngaysinh"></label>
        </div>
        <div class="form-group">
            <label for="pwd">Ho ten:</label>
            <input name="ten" type="text" class="form-control" placeholder="Nhap ten sinh vien" id="inputten">
            <label class="noti" id="ten"></label>
        </div>
      
        <div class="form-group">
            <label for="inputphone">Dien thoai:</label>
            <input name="phone" type="text" class="form-control" placeholder="Nhap lop" id="inputphone">
            <label class="noti" id="phone"></label>
        </div>
        
        <button type="submit" class="btn btn-primary" >UPDATE</button>
    </form>
    <script>
        const checkNum = (num) => {
            console.log(num);
            if (isNaN(num) || num < 0) {
                return false;
                console.log("funtion false");
            } else {
                console.log("funtion true");
                return true;
            }
        }
        const checkRegex = (value, regex) => {
            return regex.test(value);
        }
        const checkValidate = () => {
            check = false;
            if (document.getElementById("inputma").value == "") {
                document.getElementById("ma").innerText = "Ma khong duoc rong"
                return false;
            } else {
                document.getElementById("ma").innerText = ""
                check = true;
            }
            if (document.getElementById("inputten").value == "") {
                document.getElementById("ten").innerText = "Ten khong duoc rong"
                return false;
            } else {
                document.getElementById("ten").innerText = ""
                check = true;
            }
            if (document.getElementById("inputngaysinh").value == "") {
                document.getElementById("ngaysinh").innerText = "Ngay sinh khong duoc rong"
                return false;
            } else {
                document.getElementById("ngaysinh").innerText = ""
                check = true;
            }
            if (document.getElementById("inputphone").value === "" || !checkNum(document.getElementById("inputphone").value)) {
                document.getElementById("phone").innerText = "So dien thoai khong duoc rong va phai la so"
                return false;
            } else {
                document.getElementById("phone").innerText = ""
                check = true;
            }
            return check;
        }
    </script>
</body>
</html>